<div class="page-header">
  <h1>Painel Principal</h1>
  <div class="row">
		<div class="col-md-10">
			<div class="well well-sm">Seja Bem Vindo ao Banco Gold...</div>
		</div>
  </div>
</div>

<div class="row">
	<div class="col-md-8 col-md-offset-1">
		<div class="col-xs-6 ">
			<div class="well well-sm">
				Se não é nosso corentissa, 
				o que esa esperando, 
				venha fazer parte do banco que mais cresce,
		    click no botão abaixo e cadastre-se"
			</div>
			<%= link_to "Cadastrar", root_path, :class => 'btn btn-primary btn-radio' %>
		</div>

		<div class="col-xs-6">
			<div class="well well-sm">
				Se não é nosso corentissa, 
				o que esa esperando, 
				venha fazer parte do banco que mais cresce,
		    click no link abaixa e cadastre-se"
			</div>
		</div>
	</div>
</div>
